<div class="container-fluid">
    <div>
        <h3 class="text-secondary"> Tienda en Línea </h3>
    </div>

    <div class="row justify-content-evenly">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h4 style="margin-top: 50px;" class="text-secondary"> Dispositivos por Distribuidor </h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Distribuidor</th>
                        <th scope="col">Tipo de Dispositivo</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of typeQuantity">
                        <th scope="row">{{row.nombreDistribuidor}}</th>
                        <td>{{row.nombreTipo}}</td>
                        <td>{{row.cantidad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">
        </div>
    </div>

    <div class="row justify-content-evenly">
        <h4 style="margin-top: 50px;" class="text-secondary"> Listado de dispositivos en la tienda </h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Número de serie</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Consumo (W)</th>
                    <th scope="col">Precio ($)</th>
                    <th scope="col">Distribuidor</th>
                    <th scope="col">Cédula Jurídica</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let device of shopDevices">
                    <th scope="row">{{device.numeroserie}}</th>
                    <td>{{device.nombre}}</td>
                    <td>{{device.nombretipodispositivo}}</td>
                    <td>{{device.marca}}</td>
                    <td>{{device.consumoelectrico}}</td>
                    <td>{{device.precio}}</td>
                    <td>{{device.nombredistribuidor}}</td>
                    <td>{{device.cedulajuridicadistribuidor}}</td>
                </tr>
            </tbody>
        </table>

        <div class="custom-file">
            <input type="file" accept=".xlsx" class="custom-file-input" id="customFileLang" lang="es" (change)="onFileChange($event)">
            <label class="custom-file-label" for="customFileLang">Seleccione un archivo para cargar datos</label>
        </div>

        <app-fail-dialog [header]="errorMsgHeader"
                 [message]="errorMsg"></app-fail-dialog>
    </div>
</div>
